*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: Gotham Pro,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url("/bg.svg") no-repeat;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"),
    url("/fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GothamPro-Bold.woff2") format("woff2"),
    url("/fonts/GothamPro-Bold.woff") format("woff"),
    url("/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("/fonts/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"),
    url("/fonts/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GothamPro.woff2") format("woff2"),
    url("/fonts/GothamPro.woff") format("woff"),
    url("/fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
