@import './vars.sass'

.headerContainer
  width: 100%
  min-height: 100vh
  background-image: url(/images/home_1_background.webp)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  padding: 40px 140px

.mainHeading
  //margin-top: 140px
  font-weight: bold
  margin-bottom: 20px
  max-width: 1150px

.secondaryText
  max-width: 850px

.headerContentContainer
  display: flex
  align-items: center
  width: 100%
  justify-content: space-between
  min-height: 800px

.roundedButton
  border-radius: 50px
  padding: 10px 60px
  font-size: 20px

.rectangularButton
  border-radius: 10px
  padding: 10px 60px
  font-size: 20px
  text-transform: none
  background: linear-gradient(to right bottom, #a661f8 30%, #6e36b2)

.btnContainer
  margin-top: 100px
  display: flex
  align-items: center

.imageContainerShadow
  display: flex
  align-items: center
  margin-left: 20px
  & > span
     box-shadow: rgba(155,89,238,255) 0 12px 70px 4px

.timeText
  font-size: 24px

.homeSecondSectionMainText
  font-size: 50px
  font-weight: bold
  color: black
  margin-bottom: 10px

.homeSecondSectionContainer
  display: flex
  align-items: center
  width: 100%
  justify-content: space-between
  background-color: white
  padding: 40px 140px
  min-height: 600px


.rightPart
  min-width: 360px
  min-height: 434px

.homeSecondSectionMainTextMobile
  display: none

.homeThirdSectionMainText
  font-size: 50px
  font-weight: bold
.homeThirdSectionContainer
  background-image: url(/images/thirdSectionBackground.png)
  background-size: cover
  background-position: right bottom
  background-repeat: no-repeat
  padding: 40px 140px
  min-height: 800px
  display: flex
  justify-content: center
  flex-direction: column

.cardContainer
  width: 100%
  display: grid
  grid-template-columns: 1fr 1fr 1fr 
  gap: 10px

.homeFourthSectionWrapper
  background-color: white
  position: relative
  &SvgBackground
    position: absolute
    left: 0
    bottom: 0

.homeFourthSectionContainer
  max-width: 778px
  margin: 0 auto
  

.homeFourthSectionMainText
  font-size: 50px
  font-weight: bold
  color: black

.contentContainerFourth
  display: flex
  align-items: center
  width: 100%
  justify-content: space-between
  
.leftPartFourth
  display: flex
  flex-direction: column
  max-width: 760px
  width: 100%
  min-height: 400px

.primaryButton
  height: 65px
  padding: 10px 30px
  border: 1px solid #6e36b2
  background: linear-gradient(to right bottom, #a661f8 30%, #6e36b2)
  border-radius: 10px
  color: white
  transition: .3s
  text-transform: none
  text-align: center
  font-size: 20px
  font-weight: 500
  &:hover
    background-color: $primaryHover


@media screen and (max-width: 1700px)
  .mainHeading
    font-size: 60px
  .headerText
    display: flex
    flex-direction: column
    row-gap: 20px

@media screen and (max-width: 1460px)
  .headerContainer
      padding: 20px 50px



@media screen and (max-width: 1380px)
  .homeSecondSectionContainer
    min-height: 400px
    padding: 40px 60px

@media screen and (max-width: 1300px)
  .mainHeading
    font-size: 60px
    max-width: 700px
  .homeThirdSectionContainer
    padding: 40px 70px

@media screen and (max-width: 1150px)
  .homeSecondSectionContainer
    padding: 40px 30px
  .homeThirdSectionContainer
    padding: 40px 30px
  .rightPart
    min-width: 180px
    min-height: 217px

@media screen and (max-width: 1100px)
  .headerContainer
      padding: 20px

@media screen and (max-width: 1100px)
  .homeThirdSectionContainer
    padding: 40px 10px

@media screen and (max-width: 950px)
  .cardContainer
    grid-template-columns: 1fr 1fr

@media screen and (max-width: 900px)
  .headerContentContainer
    margin-top: 100px
  .headerText
    position: absolute
    z-index: 1
  .headerPictureContainer
    position: absolute
    z-index: 0
    right: 0
    bottom: 0
  .headerContentContainer
      min-height: 400px
  .homeSecondSectionContainer
    display: flex
    flex-direction: column-reverse
    .homeSecondSectionMainTextMobile
      order: 1
  .homeSecondSectionMainText
    display: none
  .homeSecondSectionMainTextMobile
    display: block

@media screen and (max-width: 700px)
  .cardContainer
    grid-template-columns: 1fr
  .homeThirdSectionMainText
    font-size: 30px

@media screen and (max-width: 650px)
  .homeSecondSectionMainText
    font-size: 40px
  .mainHeading
    font-size: 24px
    max-width: 100%
  
  .secondaryText
    font-size: 16px
    max-width: 100%

  .headerContainer
    background-position: right

  .timeText
    font-size: 22px


  .imageContainerShadow
    margin-top: 20px
    justify-content: flex-start
    margin-left: 0

  .btnContainer
    flex-direction: column
    align-items: flex-start
    width: 100%

  

@media screen and (max-width: 500px)
  .homeSecondSectionMainText
    font-size: 30px
  .homeSecondSectionContainer
    padding: 40px 10px
  .headerText
    left: 0
    padding: 10px
  .headerPictureContainer
    width: 300px
    bottom: 10vh
  .btnContainer
    display: flex
    align-items: center
  .roundedButton
    padding: 10px 40px
    font-size: 20px